<header>
	<%= logo = image_tag("rails.png", :alt => "Sample App", :class => "round") %> 
	<% link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", "/home" %></li> 
			<li><%= link_to "Help", "/help" %></li> 
			<li><%= link_to "Sign in", '#' %></li>
			<!-- <li><a href="/pages/home">Home</li>
						<li><a href="/pages/help">Help</li>
						<li><a href="/pages/signin">Sign In</li> -->
		</ul> 
	</nav>
</header>